@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 3.5rem;
  font-weight: 700;
}

h4 {
  font-size: 3rem;
  font-weight: 700;
}

h5 {
  font-size: 2.5rem;
  font-weight: 700;
}

h6 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 2rem;
}

p span {
  font-weight: 700;
  color: #BB4430;
}

ol,
ul {
  font-size: 1rem;
  list-style: square;
  margin-left: 50%;
  margin-right: 50%;
  font-size: 125%;
  background-color: #7EBDC2;
  list-style-type: disc;
}

a {
  text-decoration: none;
  color: blue;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

.btn {
  border-radius: 0.35rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  margin: 0.2rem 0.12rem;
  padding: 0.4rem 0.7rem;
  text-decoration: none;
  color: #BB4430;
  background-color: #f3dfa2;
  text-align: center;
}
.btndisabled {
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: all !important;
}

.btn-primary {
  background-color: #231f20;
  border: 1px solid #231f20;
  border-radius: 0.5rem;
  color: #7ebdc2;
  transition: 0.04s;
}
.btn-primary:hover:not(:disabled) {
  background-color: #7ebdc2;
  border: 1px solid #7ebdc2;
  color: #231f20;
  transition: 0.2s;
}

.btn-danger {
  background-color: #BB4430;
  border: 1px solid #BB4430;
  border-radius: 0.5rem;
  color: #efe6dd;
  transition: 0.04s;
}
.btn-danger:hover:not(:disabled) {
  background-color: #efe6dd;
  color: #BB4430;
  transition: 0.2s;
}

.btn-success {
  background-color: #f3dfa2;
  border: 1px solid #f3dfa2;
  border-radius: 0.5rem;
  color: #231f20;
  transition: 0.04s;
}
.btn-success:hover:not(:disabled) {
  background-color: #231f20;
  color: #f3dfa2;
  transition: 0.2s;
}

.btn-info {
  background-color: #7ebdc2;
  border: 1px solid #7ebdc2;
  border-radius: 0.5rem;
  color: #efe6dd;
  transition: 0.04s;
}
.btn-info:hover:not(:disabled) {
  background-color: #efe6dd;
  color: #7ebdc2;
  transition: 0.2s;
}

img {
  width: 100%;
  margin: 5px 5px 20px;
  box-shadow: 5px 5px 20px rgba(109, 107, 107, 0.4196078431);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 700;
  margin-bottom: 0px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=color] {
  padding: 10px;
  margin: 2px 10px 20px 10px;
  border: 1px solid #231f20;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=date]::placeholder,
input[type=color]::placeholder {
  font-style: italic;
}

table {
  border-collapse: collapse;
  border: 2px solid #231f20;
  width: 100%;
}

caption {
  padding: 15px;
  font-size: 2rem;
  font-weight: 600;
}

thead,
tfoot {
  background-color: #f3dfa2;
}

th {
  font-weight: 600;
}

th,
td {
  border: 1px solid #231f20;
  padding: 15px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: #efe6dd;
}

tr:hover:not(:disabled) {
  background-color: #8fc6ca;
  transition: 0.15s;
}

tfoot th {
  text-align: justify;
}

tfoot td {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container-xsm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-md {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-lg {
    max-width: 1140px;
  }
}
.row {
  overflow: hidden;
}

.col {
  float: left;
  padding: 12px;
  box-sizing: border-box;
}

.col-1 {
  width: calc(100% / 12 * 1 - 24px);
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

.col-2 {
  width: calc(100% / 12 * 2 - 24px);
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

.col-3 {
  width: calc(100% / 12 * 3 - 24px);
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

.col-4 {
  width: calc(100% / 12 * 4 - 24px);
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

.col-5 {
  width: calc(100% / 12 * 5 - 24px);
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

.col-6 {
  width: calc(100% / 12 * 6 - 24px);
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

.col-7 {
  width: calc(100% / 12 * 7 - 24px);
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

.col-8 {
  width: calc(100% / 12 * 8 - 24px);
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

.col-9 {
  width: calc(100% / 12 * 9 - 24px);
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

.col-10 {
  width: calc(100% / 12 * 10 - 24px);
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

.col-11 {
  width: calc(100% / 12 * 11 - 24px);
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

.col-12 {
  width: calc(100% / 12 * 12 - 24px);
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  --webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  --webkit-line-break: after-white-space;
  --webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

/*# sourceMappingURL=main.css.map */
