@use'variables';
@use'font-family';
@use'typography';

//list styles
ol, ul {
    font-size: typography.$font-md;
    font-weight: typography.$font-weight-normal;
    margin-bottom: typography.$font-md;

    list-style: variables.$list-disc;
    margin-left: 50%;
    margin-right: 50%;
    font-size: 125%;
    background-color: #7EBDC2;
    list-style-type: disc;
}


//link style
a {
 text-decoration: none;
 color: blue;
}

//unordered list
ul {
    list-style-type: variables.$list-disc;
}

//ordered list
ol {
    list-style-type: variables.$list-decimal;
}

.btn{
    border-radius: 0.350rem;
    cursor: pointer;
    display: inline-block;
    font-weight: typography.$font-weight-normal;
    line-height: 1.5;
    margin: 0.25rem 0.125rem;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    color: #BB4430;
    background-color: #F3DFA2;

    &disabled{
        cursor: not-allowed;
        opacity: 0.65;
        pointer-events: all !important;
    }
} 