// Variables for the grid
$grid-columns: 12;
$gutter: 12px;

// Mixin for the columns
//calc function
//Step 1 Division: 100% / #{$grid-columns} (calulate the width of a column)
//Step 2 Multiplication: * #{$cols} (multiply the width by the number of columns)
//Step 3 Subtraction: - #{$gutter * 2} (subtract the gutter width from the column width)
@mixin column($cols) {
    width: calc((100% / #{$grid-columns} * #{$cols}) - #{$gutter * 2});
    margin-left: $gutter;
    margin-right: $gutter;
    float: left;
}

// Container layout
.container{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px){
    .container-xsm{
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container-sm{
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container-md{
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container-lg{
        max-width: 1140px;
    }
}

// Row layout
// Clearing the floats in the row
.row{
    overflow: hidden;
}

// Column classes
.col{
    float: left;
    padding: $gutter;
    box-sizing: border-box;
}

.col-1 { @include column(1); }
.col-2 { @include column(2); }
.col-3 { @include column(3); }
.col-4 { @include column(4); }
.col-5 { @include column(5); }
.col-6 { @include column(6); }
.col-7 { @include column(7); }
.col-8 { @include column(8); }
.col-9 { @include column(9); }
.col-10 { @include column(10); }
.col-11 { @include column(11); }
.col-12 { @include column(12); }