//font family
$font-family: 'Arial', sans-serif;

//font size
$font-sm: 12px;
$font-md: 16px;
$font-lg: 20px;

//font- weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//Headings
h1 {
font-size: $font-lg;
font-weight: $font-weight-bold;
}
h2 {
font-size: $font-md;
font-weight: $font-weight-bold;
}
h3 {
font-size: $font-sm;
font-weight: $font-weight-bold;
margin-bottom: $font-sm;
}