//padding
$padding-sm: 30px;
$padding-md: 45px;
$padding-lg: 60px;

//list-style types
$list-disc: square;
$list-decimal: decimal;
$list-alpha: upper-alpha;
$list-roman: lower-roman;


//Colors
$black: #231f20;
$white: #efe6dd;
$yellow: #f3dfa2;
$blue: #7ebdc2;
$red: #BB4430; 


//Theme Colors
$primary: $black;
$danger: $red;
$success: $yellow;
$info: $blue;
