//padding
$padding-xsm: 15px;
$padding-sm: 30px;
$padding-md: 45px;
$padding-lg: 60px;

//list-style types
$list-disc: square;
$list-decimal: decimal;
$list-alpha: upper-alpha;
$list-roman: lower-roman;


//Colors
$black: #231f20;
$white: #efe6dd;
$yellow: #f3dfa2;
$blue: #7ebdc2;
$red: #BB4430; 


//Theme Colors
$primary: $black;
$danger: $red;
$success: $yellow;
$info: $blue;

// Image
$img-width: 100%;
$img-shadow: 5px 5px 20px #6d6b6b6b;

// Forms
$input-padding: 10px;
$input-margin: 2px 10px 20px 10px;
$input-border: 1px solid $primary;
$input-border-radius: 5px;

$label-margin-bottom: 0px;

// Tables
$border-color: $black;
$caption-padding: 10px;
$thead-tfoot-bg-color: rgb(228, 240, 245);
$th-td-border-color: rgb(160, 160, 160);
$th-td-padding: 8px 10px;
$tbody-even-bg-color: rgb(237, 238, 242);
$tfoot-th-text-align: right;
$tfoot-td-font-weight: bold;
$table-hover: lighten($blue, 5%);



